body {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 100vh;
}

.calculatorBody {
    display: grid;
    width: 500px;
    height: 500px;
    border: 2px solid black;
}

.signal {
    width: 100px;
    height: 50px;
    background-color: rgb(194, 193, 193);
}